certifi==2023.11.17
charset-normalizer==3.3.2
docstring-to-markdown==0.13
filelock==3.13.1
flake8==7.0.0
fsspec==2023.12.2
idna==3.6
jedi==0.17.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.3
parso==0.7.1
pillow==10.2.0
pluggy==1.3.0
pycodestyle==2.11.1
pyflakes==3.2.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.9.0
requests==2.31.0
scipy==1.11.4
sympy==1.12
torch==2.1.2
torch-cluster==1.6.3
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-spline-conv==1.2.2
torchaudio==2.1.2
torchvision==0.16.2
tqdm==4.66.1
typing_extensions==4.9.0
ujson==5.9.0
urllib3==2.1.0
